* {
  box-sizing: border-box;
}
#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#container {
  font-size: 12px;
  width: 320px;
  height: 240px;
  background-color: #AAA;
}

#mask {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
  pointer-events: none;
  display: none;
}

.point-list {
  width: 90%;
  min-height: 300px
}
